<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/avaya/pc_site.jpg" alt="Pc Site">
      <img src="/images/work/avaya/app_shell.jpg" alt="Pc Site">
    </div>
  </div>
  <div class="sidebar">
    <article>
    <h3>Avaya 2012 SAPC</h3>
    <p>The Avaya Americas International Sales and Partner Conference 2012 website/app provides attendees with useful conference, hotel, and destination guide tools. This project was interesting because we needed to created a semi-responsive desktop site and a mobile version with a dashboard landing page all based off of the same html. This was a great opportunity to get pretty creative with some css.</p>
    <h3>Technology</h3>
    <p>
      Photoshop, Illustrator, HTML, CSS3, SASS, Compass
    </p>
    </article>
  </div>
</div>