<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/breathless/breathless1.jpg" alt="Mobile Screen Shot">
      <img src="/images/work/breathless/breathless2.jpg" alt="Mobile Screen Shot">
      <img src="/images/work/breathless/breathless3.jpg" alt="Mobile Screen Shot">
    </div>
  </div>
  <div class="sidebar">
    <article>
      <h5>September 2013</h5>
      <h3>Breathless Resorts &amp; Spas</h3>
      <p>
        This website is part of a much larger project for <a href="http://amresorts.com/" target="_blank">AMResorts</a>. The goal is to create websites, with a mobile first approach, for all of their properties to act as an on location tool for their guests. The different websites for each hotel will also be combined into a mobile app, via PhoneGap, available on iPhone and Android. Through the app, users will have added functionality such as international calling.
      </p>
      <p>
        This was an interesting project because it combined so many different brands, all under AMResorts, like <a href="http://www.secretsresorts.com/" target="_blank">Secrets</a>, <a href="http://www.nowresorts.com/" target="_blank">Now</a>, and <a href="http://www.dreamsresorts.com/" target="_blank">Dreams</a>. It was necessary to balance the difference in each of their branding and at the same time make the sites and apps feel unified.
      </p>
      <h3>Technology</h3>
      <p>
        Photoshop, Illustrator, HTML, CSS3, SASS, Compass, jQuery, Hammer.js
      </p>
      <div class="button">
         <a href="http://brepc.m77950.com" target="_blank">View Site</a>
       </div>
       <h3>Publicity</h3>
       <h4>
         <a href="http://amresorts.com/" target="_blank">Amresorts</a> Launches New Free Mobile Apps That Enhance Stay Experience And Allow Guests To Be Connected Free Of Charge
       </h4>
       <h5>Tuesday, March 27, 2012</h5>
       <p>
         "AMResorts, provider of sales, marketing and brand management services for Zoëtry Wellness & Spa Resorts, and Secrets, Dreams, Now and Sunscape Resorts & Spas, announced today the launch of its new, interactive Unlimited-Connectivity® app.  Now available for the company’s most recently opened properties, Secrets Vallarta Bay and Now Amber Puerto Vallarta, the innovative app will be rolled out to all AMResorts brands and resorts by the end of 2012. The free digital application developed by AMResorts and Telmex, a world leader in communications, is accessible for mobile download to iPhone, iPad, iPod Touch, Android and Blackberry phones. " - Hotel Interactive
       </p>
       <div class="button">
         <a href="http://www.hotelinteractive.com/article.aspx?articleid=24648" target="_blank">View Full Article</a>
       </div>
    </article>
  </div>
</div>