<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/fkc/logo.jpg" alt="Logo">
      <img src="/images/work/fkc/logo_black.jpg" alt="Logo Black">
      <img src="/images/work/fkc/logo_white.jpg" alt="Logo White">
    </div>
  </div>
  <div class="sidebar">
    <article>
    <div class="comments">//</div><h3>First Key Creations</h3>
    <p>Logo design for First Key Creations.</p>
    <p>(Website Coming Soon)</p>
    </article>
  </div>
</div>