<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/fkc/logo.jpg" alt="Logo">
      <img src="/images/work/fkc/logo_black.jpg" alt="Logo Black">
      <img src="/images/work/fkc/logo_white.jpg" alt="Logo White">
    </div>
  </div>
  <div class="sidebar">
    <article>
    <h3>First Key Creations</h3>
    <h4>Logo design for First Key Creations.</h4>
    <p>First Key Creations is is a custom music studio created by musician, Justin Rayna. For this logo I chose to play off of the "Key" aspect of the name but not in the musical sense. Instead I wanted to portray through the logo that FKC is the key to having perfectly customized music for their clients.</p>
    <p>(Website Coming Soon)</p>
    <h3>Technology</h3>
    <p>Adobe Illustrator</p>
    </article>
  </div>
</div>