<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/keylime_cove/iphone_shell.jpg" alt="Logo">
    </div>
  </div>
  <div class="sidebar">
    <article>
    <h3>Keylime Cove</h3>
    <p>Keylime Cove is an indoor waterpark and resort. This project was a to create a mobile version of their current site. I wanted to follow the same fun theme as their desktop site while focusing on functionality and mobile optimization.</p>
    <h3>Technology</h4>
      <p>Photoshop, HTML, CSS</p>
    </article>
  </div>
</div>