<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/keylime_cove/iphone_shell.jpg" alt="Logo">
    </div>
  </div>
  <div class="sidebar">
    <article>
    <div class="comments">//</div><h3>Keylime Cove</h3>
    <p>Lorum Ipsum</p>
    </article>
  </div>
</div>