<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/keylime_cove/iphone_shell.jpg" alt="Logo">
    </div>
  </div>
  <div class="sidebar">
    <article>
      <h5>August 2011</h5>
      <h3>Keylime Cove</h3>
      <p>Keylime Cove is an indoor waterpark and resort. This project was a to create a mobile version of their current site. I wanted to follow the same fun theme as their desktop site while focusing on functionality and mobile optimization.</p>
      <h3>Technology</h4>
      <p>Photoshop, HTML, CSS</p>
      <h3>Publicity</h3>
      <h4>
        KeyLime Cove Indoor Waterpark Resort Named 2011 eMarketer of the Year by <a href="http://www.travelclick.com/" target="_blank">TravelClick</a>
      </h4>
      <p>
        "During 2011, KeyLime Cove launched a new mobile website, targeted preferred guests with display advertising, and expanded its search marketing capability.  To improve visibility, it contracted a featured position on TripAdvisor and to fill rooms in low occupancy periods, the resort engaged with flash sale partner Groupon.  KeyLime enhanced its print strategy with an online component by incorporating Quick Response (QR) codes into print advertising to drive mobile site traffic and text offer sign-ups. Its monthly text and email offers worked jointly with a Facebook ad campaign to boost fans and drive new bookings, resulting in a 10X increase in mobile bookings.  As a result of its digital marketing, KeyLime Cove grew direct bookings in 2011 and now generates 37 percent of its business from its website." - Hotel Online
      </p>
      <div class="button">
        <a href="http://www.hotel-online.com/News/PR2012_1st/Feb12_TCKeyLime.html" target="_blank">View Full Article</a>
      </div>
    </article>
  </div>
</div>