<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/movitas/pc_site.jpg" alt="Pc Site">
    </div>
  </div>
  <div class="sidebar">
    <article>
    <h3>Movitas</h3>
    <p>This project was a redesign of their current site. I worked closely with another designer to finalize the mock ups. I then handled all of the front-end development to get this site launched in a matter of weeks. This was also the first website that I had integrated <a href="http://susy.oddbird.net/" target="_blank">SUSY</a> into, which is an un-obtrusive grid for designers.</p>
    <h3>Technology</h3>
    <p>
      Photoshop, Illustrator, HTML, CSS3, SUSY, SASS, Compass, Bourban
    </p>
    <div class="button">
      <a href="http://www.movitas.com" target="_blank">View Site</a>
    </div>
    </article>
  </div>
</div>