<div class="contentWrap">
  <div class="indent">
    <div class="content resume">
    </div>
  </div>
  <div class="sidebar">
    <div class="comments">//</div><h3>Movitas</h3>
    <p>Lorum Ipsum</p>
    <div class="comments">//</div><h3>Languages Used</h3>
    <p>
      HTML, CSS3, <a href="http://susy.oddbird.net/" target="_blank">SUSY</a>, SASS, Compass
    </p>
  </div>
  <div class="nextButton">
    <a href="#" target="_blank">Next</a>
  </div>
</div>