<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/secrets/all_devices.jpg" alt="All Devices">
      <img src="/images/work/secrets/shell1.jpg" alt="Mobile Screen Shot">
      <img src="/images/work/secrets/shell2.jpg" alt="Mobile Screen Shot">
      <img src="/images/work/secrets/shell3.jpg" alt="Mobile Screen Shot">
      <img src="/images/work/secrets/shell4.jpg" alt="Mobile Screen Shot">
      <img src="/images/work/secrets/pc_screen_shot.jpg" alt="PC Screen Shot">
    </div>
  </div>
  <div class="sidebar">
    <article>
      <h5>March 2012</h5>
      <h3>Secrets Vallarta Bay</h3>
      <p>
        This website is just part of a much larger project for <a href="http://amresorts.com/" target="_blank">AMResorts</a>. The goal is to create websites, with a mobile first approach, for all of their properties to act as an on location tool for their guests. The different websites for each hotel will also be combined into a mobile app available on iPhone, Android, and BlackBerry. Through the app users will have added functionality such as international calling.
      </p>
      <p>
        This was an interesting project because it combined so many different brands, all under AMResorts, like <a href="http://www.secretsresorts.com/" target="_blank">Secrets</a>, <a href="http://www.nowresorts.com/" target="_blank">Now</a>, and <a href="http://www.dreamsresorts.com/" target="_blank">Dreams</a>. It was necessary to balance the difference in each of their branding and at the same time make the sites and apps feel unified.
      </p>
      <h3>Technology</h3>
      <p>
        Photoshop, Illustrator, HTML, CSS3, SASS, Compass
      </p>
      <div class="button">
         <a href="http://secretsvallartabay.m77950.com" target="_blank">View Site</a>
       </div>
    </article>
  </div>
</div>