<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/the_childrens_journey/pc_screenshot.jpg" alt="The Children's Journey">
      <img src="/images/work/the_childrens_journey/mobile_screenshot.jpg" alt="The Children's Journey">
    </div>
  </div>
  <div class="sidebar">
    <article>
      <h5>April 2012</h5>
      <h3>The Children's Journey</h3>
      <p>
        The Children's Journey is a Non-profit Daycare located in Reading, PA.
      </p>
      <p>
        My main goal for this site redesign was just to make it as friendly and welcoming as possible. That is why I went with rather large header images in order to give a potential client a feel for the Daycare without making them sort through a separate photo gallery. I decided to make this site fully responsive to ensure that potential "mobile" clients would not be left with an unsuitable experience. The responsive navigation was probably my favorite aspect of this site and is based off of Jason Weaver's <a href="http://jasonweaver.name/lab/flexiblenavigation/" target="_blank">Flex Nav</a>. It allows the navigation to be fully visible on large screens and becomes a toggle on smaller ones.
      </p>
      <h3>Technology</h3>
      <p>
        Photoshop, Illustrator, Ruby On Rails, CSS3, SASS, <a href="https://github.com/thoughtbot/bourbon" target="_blank">Bourbon</a>, JQuery
      </p>
      <div class="button">
         <a href="http://www.thechildrensjourney.org" target="_blank">View Site</a>
       </div>
    </article>
  </div>
</div>