<div class="contentWrap">
  <div class="indent">
    <div class="content work">
      <img src="/images/work/traveler_connect/pc_site.jpg" alt="Pc Site">
      <img src="/images/work/traveler_connect/app_shell.jpg" alt="App Shell">
    </div>
  </div>
  <div class="sidebar">
    <article>
      <h5>January 2012</h5>
      <h3>Traveler Connect</h3>
      <h4>Pack the app. Leave the hassles.</h4>
      <p>Traveler Connect is a website/app hybrid. It allows user make calls out of the country for free over Wi-Fi as well as providing an endless amount of resources for local information, social media, and things to do. I designed Traveler Connect with a focus on friendly hospitality and usability. It's interface makes it easy for users to quickly find what is important to them on vacation.</p>
      <h3>Technology</h3>
      <p>
        Photoshop, Illustrator, HTML, CSS3, SASS, Compass, jQuery
      </p>
      <div class="button">
        <a href="http://travelerconnect.movitas.com" target="_blank">View Site</a>
      </div>
      <div class="badges">
        <a href="http://itunes.apple.com/us/app/traveler-connect/id491140568?mt=8" target="_blank">
          <img src="/images/iphone_appstore_icon.png" alt="Iphone Appstore Icon">
        </a>
      </div>
      <div class="badges">
        <a href="https://market.android.com/details?id=com.movitas.sip.custom.travelerconnect" target="_blank">
          <img src="/images/android_market_icon.png" alt="Android Market Icon">
        </a>
      </div>
    </article>
  </div>
</div>