<div class="contentWrap">
  <div class="indent">
    <div class="content resume">
      <img src="images/resume1_1-19-12.jpg" alt="Resume1 1 19 12">
      <img src="images/resume1_1-19-12_page2.jpg" alt="Resume1 1 19 12 Page2">
    </div>
  </div>
  <div class="sidebar">
    <div class="comments">//</div><h3>About Me</h3>
    <p><img class="aboutMeImg" src="images/about_me_pic.jpg" alt="About Me Pic">Hi there, I'm Ashton.
      <br/>
       I live in Philadelphia, PA and have a passion for creating beautifully minimal, cutting-edge, responsive websites. I am constantly learning and striving to stay on top of new technologies and design trends to deliver the cleanest, modern, and functional sites possible.</p>
    <p>I also love skateboarding, food, playing madden, and of course my blue-nose pitbull <a href="http://www.facebook.com/pages/Jayda-Pup/140771079334266" target="_blank" >Jayda</a>.</p>
    
    <div class="button">
      <a href="images/ashton_harris_resume.pdf" target="_blank">Download Resume</a>
    </div>
    
    <div class="comments">//</div><h3>Project List</h3>
    <ul class="clientList">
      <li><a href="#">Movitas</a></li>
      <li><a href="#">Amstar</a></li>
      <li><a href="#">Avaya</a></li>
      <li><a href="#">Apple Vacations</a></li>
      <li><a href="#">Flamingo Beach Resort &amp; Spa</a></li>
      <li><a href="#">Media Giraffes</a></li>
      <li><a href="#">Dreams Resort and Spa</a></li>
      <!-- <li><a href="#">Secrets Resort and Spa</a></li> -->
      <!-- <li><a href="#">Now Resort and Spa</a></li> -->
      <li><a href="#">First Key Creations</a></li>
      <li><a href="#">Wialan</a></li>
      <!-- <li><a href="#">Helium Comedy Club</a></li> -->
      <li><a href="#">Key Lime Cove</a></li>
      <li><a href="#">Maritz</a></li>
      <!-- <li><a href="#">Choice Hotels</a></li> -->
      <li><a href="#">Psychic Source</a></li>
      <li><a href="#">Orleans Technical Institute</a></li>
      <li><a href="#">Intercontinental The Barclay New York</a></li>
      <li><a href="#">Mobile Monday</a></li>
      <li><a href="#">Pocono Mountains</a></li>
      <li><a href="#">O'Malley's Pub'</a></li>
      <li><a href="#">The Shawnee Inn</a></li>
      <li><a href="#">Shawnee Mountain</a></li>
      <li><a href="#">Saint Clare's Health System'</a></li>
      <li><a href="#">Keating's River Grill</a></li>
      <li><a href="#">Sheraton</a></li>
      <li><a href="#">Blue Mountain</a></li>
      <li><a href="#">Quick Chek</a></li>
      <li><a href="#">St. Petersburg Clearwater</a></li>
      <li><a href="#">Nocturnal Skate Shop</a></li>
      <li><a href="#">The Children's Journey</a></li>
    </ul>
  </div>
</div>