<div class="contentWrap">
  <div class="indent">
    <div class="content resume">
      <img src="images/resume1_1-19-12.jpg" alt="Resume1 1 19 12">
      <img src="images/resume1_1-19-12_page2.jpg" alt="Resume1 1 19 12 Page2">
    </div>
  </div>
  <div class="sidebar">
    <div class="comments">//</div><h3>About Me</h3>
    <p><img class="aboutMeImg" src="images/about_me_pic.jpg" alt="About Me Pic">Hi there, I'm Ashton.
      <br/>
       I live in Philadelphia, PA and have a passion for creating beautifully minimal, cutting-edge, responsive websites. I am constantly learning and striving to stay on top of new technologies and design trends to deliver the cleanest, modern, and functional sites possible.</p>
    <p>I also love skateboarding, food, playing madden, and of course my blue-nose pitbull <a href="http://www.facebook.com/pages/Jayda-Pup/140771079334266" target="_blank" >Jayda</a>.</p>
    
    <div class="button">
      <a href="images/ashton_harris_resume.pdf" target="_blank">Download Resume</a>
    </div>
    
    <div class="comments">//</div><h3>Project List</h3>
    <ul class="clientList">
      <li><a href="/work/movitas">Movitas</a></li>
      <li><a href="/work/traveler_connect">Traveler Connect</a></li>
      <li><a href="/work/avaya">Avaya</a></li>
      <li><a href="/work/media_giraffes">Media Giraffes</a></li>
      <li><a href="/work/fkc">First Key Creations</a></li>
      <li class="noLink">Amstar</li>
      <li class="noLink">Apple Vacations</li>
      <li class="noLink">Apple On the Go</li>
      <li class="noLink">Flamingo Beach Resort &amp; Spa</li>
      <li class="noLink">Dreams Resort and Spa</li>
      <li class="noLink">Secrets Resort and Spa</li>
      <li class="noLink">Wialan</a></li>
      <li class="noLink">Key Lime Cove</li>
      <li class="noLink">Maritz</li>
      <li class="noLink">Psychic Source</li>
      <li class="noLink">Mobile Monday</li>
      <li class="noLink">Pocono Mountains</li>
      <li class="noLink">O'Malley's Pub'</li>
      <li class="noLink">The Shawnee Inn</li>
      <li class="noLink">Shawnee Mountain</li>
      <li class="noLink">Saint Clare's Health System</li>
      <li class="noLink">Keating's River Grill</li>
      <li class="noLink">Sheraton</li>
      <li class="noLink">Blue Mountain</li>
      <li class="noLink">Quick Chek</li>
      <li class="noLink">St. Petersburg Clearwater</li>
      <li class="noLink">Nocturnal Skate Shop</li>
      <li class="noLink">The Children's Journey</li>
    </ul>
  </div>
</div>