<div class="contentWrap">
  <div class="work">
    <div class="comments">//</div><h3>Work</h3>
    <ul class="allWork">
      <li>
        <a href="/work/movitas">
          <img src="/images/featured/movitas_img.png" alt="Movitas Img">
          Movitas
        </a>
      </li>
      <li>
        <a href="/work/traveler_connect">
          <img src="/images/featured/traveler_connect_img.png" alt="Traveler Connect Img">
          Traveler Connect
          </a>
      </li>
      <li>
        <a href="/work/avaya">
          <img src="/images/featured/avaya_img.png" alt="Avaya Img">
        Avaya
        </a>
      </li>
      <li>
        <a href="/work/media_giraffes">
          <img src="/images/featured/media_giraffes_img.png" alt="Media Giraffes Img">
          Media Giraffes
        </a>
      </li>
      <li>
        <a href="/work/fkc">
          <img src="/images/work/fkc/preview.jpg" alt="Media Giraffes Img">
          First Key Creations
        </a>
      </li>
      <li class="blank">
      </li>
      <li class="blank">
      </li>
      <li class="blank">
      </li>
    <ul>
  </div> <!-- End Featured -->