<div class="contentWrap">
  <div class="flexWrapper">
  <!--slider-->
    <div class="flex-container">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <img src="images/slide1.jpg" alt="Responsive Web Design"/>
            <p class="flex-caption">Responsive Web Design</p>
          </li>
          <li>
            <img src="images/slide2.jpg" alt="iPhone and Android App Design<"/>
            <p class="flex-caption">iPhone and Android App Design</p>
          </li>
          <li>
            <img src="images/slide3.jpg" alt="Custom Wordpress Sites"/>
            <p class="flex-caption">Custom Wordpress Sites</p>
          </li>
        </ul>
      </div><!-- End flexslider -->
    </div><!-- End flex-container -->
  </div>  <!-- End flexWrapper -->
</div><!-- End contentWrap -->

<div class="contentWrap">
  <div class="featured">
    <h3>Featured Work</h3>
    <ul class="featuredWork">
      <li>
          <%= link_to "Movitas", work_path(:movitas), :class => "featured_1" %>
      </li>
      <li>
        <%= link_to "Traveler Connect", work_path(:traveler_connect), :class => "featured_2" %>
      </li>
      <li>
        <%= link_to "Avaya", work_path(:avaya), :class => "featured_3" %>
      </li>
      <li>
        <%= link_to "Avaya", work_path(:media_giraffes), :class => "featured_4" %>
      </li>
    </ul>
  </div> <!-- End Featured -->
</div> <!-- End contentWrap -->